body {
  background: rgba(0, 0, 0, .1);
  /* Step 1: reset margin is a good practice for consistency across browsers. */
  margin: 0;
}

#navbar, #banner, #main, #bottom {
  background-color: white;

  /* Step 2 code goes here */
  max-width: 50em;
  /*螢幕較窄的時候占用80趴 ，螢幕很寬的時候最多40英文字*/
  /*100%(佔父親的趴數) 100px 100em 100vw(螢幕寬度)*/
  width: 80%;
}

#navbar {
  line-height: 0;
  padding: 5px 0;
  top: 0;
  /*position: relative ;*/
  /* Step 6 code goes here */
  position: fixed; /*fixed 包含relative 特性???*/
}

i.avatar, i.icon {
  background-position: center;

  /* Step 3 code goes here */
  display: inline-block;
  height: 30px;
  /*前景圖片<->背景圖片*/
  
}

i.avatar {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
}

i.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}

.right {

  /* Step 4 code goes here */
  /*爸爸要設成position : relative 小孩子設absolute 才可以被爸爸操控*/
  position: absolute;
  right: 0.5em;
  

}

.avatar.dirty { background-image: url(./res/dirty.jpg) }
.icon.arrow   { background-image: url(./res/angle-left.jpg) }
.icon.dot     { background-image: url(./res/dot.svg) }
.icon.submit  { background-image: url(./res/external-link.svg) }

#banner {

  /* Step 5 code goes here */
  /*try not to use image tag?? , use background instead*/
  background: url(./res/main.jpg) center bottom / cover;
  /*background: url(./res/main.jpg) center top / cover;*/
  /*background: url(./res/main.jpg) [position] / [size];*/
  top: 40px;
  height: 500px;
  /* Step 6 code goes here */
  position: fixed;

}

#main {
  box-sizing: border-box;
  padding: 1px 4% 5vh;
  position: relative;
  top: 290px;

  /* Step 8 code goes here */
  /*z-index 設定顯示層*/
}

.info {

  /* Step 7 code goes here */
  /*google css tricks (flex box)*/
  margin: 0 0 5% 0;
}

h1 {
  font-size: 30px;
}

p {
  line-height: 30px;
}

#bottom {
  bottom: 0;
  display: inline-flex;
  position: fixed;
}

#reference {
  background: url('./res/detail-2.gif') center / cover;
  bottom: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  width: 40vw;
}
