body {
  background: rgba(0, 0, 0, .1);
}

.ui.cards {
  /* Step 0:
   * google `flexbox` to know `align-items`, `flex-direction` and `justify-content`
   */
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.card {
  transition: all .1s;

  /* Step 0:
   * vendor-prefix like `-webkit-transform` is for compatibility, it is less important as browsers improves
   */
  -webkit-transform: all .1s;
}

.card.hidden {
  color: red !important;
  background-color: blueviolet !important;
  /*opacity: 0.1;*/
}

.header {
  color: black;
}
.header.hidden {
  color: red !important;
}
/* Step 6 code goest here */

/*千萬不要用hover ，手機平板都沒有hover*/